

<p *ngIf = "isVisible; else noVisible">
     O aluno é: {{aluno?.dados?.nome}}
</p>

<ng-template #noVisible>
    <p>Outro Texto</p>
</ng-template>

<!-- 
<div [ngSwitch] = "myValue">
    <p *ngSwitchCase="1">Valor 1</p>
    <p *ngSwitchCase="2">Valor 2</p>
    <p *ngSwitchCase="3">Valor 3</p>
    <p *ngSwitchCase="">Valor padrão</p>

</div>
<ul *ngFor = "let item of meusAlunos">
    <li>Alunos : {{item}}</li>
</ul>


<img [src]="imagem"> 

<--<button (click)="meuEvento()">Event Binding</button>

<br/><br/>

<input type="text" [(ngModel)] = "nome">


{{nome}} -->

<ul *ngFor = "let item of alunos">
    <li>Alunos : {{item.nome}}</li>
</ul>